div {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.example-card {
    min-width: 320px;
    max-width: 600px;
    width: 100%;
    max-height: 2000px;
    height: 100%;
}

.example-header-image {
    background-image: url('/assets/image/profile.png');
    background-size: cover;
}
.mat-card-action{
    text-align: center;
    display: flexbox;
}
ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

i {
    color: grey;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
    padding-left: 20px;
    padding-right: 20px;
}

i:hover {
    color: black;
}