<div>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Trieu Truong</mat-card-title>
            <mat-card-subtitle>Texas Christian University, B. S. Computer Science</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="/assets/image/profile.png" alt="Profile pic"> -->
        <mat-card-content>
            <p>
                Hi, I am the owner of this website, and I am looking for an internship as a web developer or a software
                engineer. I had a summer working in the industry as a web back-end developer, and I made this personal
                project to practice full-stack programming.
                <br /><br />
                This project utilizes microservice architecture using Spring Boot (for server side) and Angular (for
                client side): each module is deployed to a seperate Heroku Dyno; the user connects to the front end to
                make queries to the back end; the back end talks to the MongoDB database to get desired result. I also
                use Atlas for cloud
                database, and AWS Route 53 to redirect the current url to my Heroku url.
            </p>

        </mat-card-content>
        <mat-card-actions align="center">
            <ul>
                <li><a href="https://github.com/quangtrieu1312" target="_blank"><i class="fa fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/trieu-truong/" target="_blank"><i class="fa fa-linkedin"
                            aria-hidden="true"></i></a></li>
                <li><a href="/assets/pdf/TrieuTruong_Resume.pdf" target="_blank"><i class="fa fa-file-text"
                            aria-hidden="true"></i></a></li>
            </ul>
        </mat-card-actions>
    </mat-card>
</div>