<div class="input-row">
    <mat-form-field class="my-form-field" style="min-width: 320px ;max-width: 2048px; width: 100%;">
        <input matInput placeholder="Cron Expression" [(ngModel)]="ticket.name">
    </mat-form-field>
</div>
<div class="input-row">
    <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select>
            <mat-option *ngFor="let status of statuses" [value]="ticket.status"
                style="min-width: 320px ;max-width: 2048px; width: 100%;">
                {{status.view}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="input-row">
    <mat-form-field class="my-form-field" style="min-width: 320px ;max-width: 2048px; width: 100%;">
        <input matInput placeholder="Cron Expression" [(ngModel)]="ticket.alert.cronExpression">
    </mat-form-field>
</div>
<div class="input-row">
    <mat-form-field class="my-form-field" style="min-width: 320px ;max-width: 2048px; width: 100%;">
        <input matInput placeholder="Members" [(ngModel)]="members">
    </mat-form-field>
</div>
<div class="input-row">
    <mat-form-field class="my-form-field" style="min-width: 320px ;max-width: 2048px; width: 100%;">
        <input matInput placeholder="Extra emails" [(ngModel)]="emails"
            pattern="([a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}[;, ]{0,1}$)+" ngModel #emailref="ngModel">
        <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="alert alert-danger">
            <div [hidden]="!emailref.errors?.pattern">
                Invalid email
            </div>
        </div>
    </mat-form-field>
</div>
<div class="input-row">
    <mat-form-field class="my-form-field" style="min-width: 320px ;max-width: 4000px; width: 100%;">
        <textarea matInput placeholder="Description" rows="5" cols="40" [(ngModel)]="ticket.description"></textarea>
    </mat-form-field>
</div>
<button mat-button routerLink="ticket">BACK</button>
<button mat-button (click)="handleSave()">SAVE</button>