.image {
    min-height: 879px;
    background-image: url("/assets/image/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
 
}

h1, h2 {
    transform: scale(1.5);
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

